.self-flex-start {
    align-self: flex-start;
}

.self-flex-end {
    align-self: flex-end;
}

.active-user {
    color: purple;
    font-weight: bold;
}

.user-item:hover {
    cursor: pointer;
    color: purple;
    font-weight: bold;
}

.show-delete-btn:hover {
    cursor: pointer;
    color: darkred;
}

.del-conv-btn:hover {
    cursor: pointer;
    opacity: 1;
    color: darkred;
}

.opacity-30 {
    opacity: 0.3;
    color: lightgrey;
}
