.ant-layout-header {
    height: 53px !important;
    background-color: #cccccc !important;
}

#components-layout-demo-side .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
}

.ant-layout-sider.ant-layout-sider-collapsed .ant-menu-item .anticon {
    padding-right: 50px;
}

.ant-layout-sider-trigger {
    bottom: auto !important;
}

.product-select {
    margin: 10px 4px !important;
    width: 190px !important;
}

.admin-submenu li {
    padding-left: 30px !important;
}

.ant-layout-sider-trigger {
    bottom: 0 !important;
}
